img{
    width: 150px;
    margin-top: 50px;
    margin-left: 80px;
}

li{
    float: left;
    list-style: none;
    padding: 10px;
}

a{
    text-decoration: none;
    font-family: 'Trebuchet MS';
    color: darkblue;
}

nav{
    float: right;
    margin-top: 50px;
    margin-right: 80px;
}

li:hover a{
    color: red;
}

header{
    background-color: coral;
}
